/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-edit-outline {
    outline: none;
    border: none;
    border-bottom: 1px solid #0000002b;
}

.radius{
    border-radius: 0px 0px 10px 10px;

}

.font-size {
    font-size: 25px;
}

.delete-btn{
  cursor: pointer;
}

.delete-btn:hover{
  color: #dc3545;
  transition: all 0.3s ease-in-out;
}
.edit-btn{
  cursor: pointer;
}

.edit-btn:hover{
  color:#28a745;
  transition: all 0.3s ease-in-out;

}
